<h1> Enter Twitter handle below <span><%= link_to 'Logout', logout_path %></span></h1>
<p>
  <%= form_tag "home", method: 'get' do %>
    <%= label_tag(:handle, "Twitter handle:") %>
    <%= text_field_tag(:handle) %>
    <%= submit_tag("submit") %>
  <% end %>
</p>

<% if @handle %>
  <h2>Timeline for <%= @handle%></h2>
<% end %>
<p>
  <% @res&.each do |r| %>
    <li>
      <span style="font-weight: bold"><%= r.created_at.strftime("%Y-%m-%d %H:%M") %></span> -
      <%= parse_mentions r.text %>
    </li>
  <% end %>
</p>